header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1,
button {
  font-family: AppleSDGothicNeoH00;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
h1 {
  font-family: AppleSDGothicNeoH00;
  text-align: left;
}
a {
  text-decoration: none;
  color: #373737;
  :hover,
  :active {
    text-decoration: none;
    color: #fff;
    background-color: #373737;
  }
  button {
    min-height: 100%;
    all: unset;
    text-align: center;
  }
}
