div[id='landing'] {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;

  //개발용
  background: #000 !important;

  background: rgb(87, 87, 87);
  background: linear-gradient(
    90deg,
    rgba(87, 87, 87, 1) 0%,
    rgba(155, 155, 155, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );

  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  h2 {
    font-weight: 700;
    font-size: 65px;
  }
  h3 {
    font-size: 30px;
  }
  h2,
  h3,
  p {
    margin: 0;
    color: #fff;
  }
}

section[id='left'] {
  position: absolute;
  width: 480px;
  left: 10%;
  top: 40%;

  text-align: left;
}
section[id='right'] {
  position: absolute;
  width: 297px;
  right: 10%;
  bottom: 10%;

  text-align: right;
}
