img {
 width: 100px;
}

div[id="info"] {
 height: 100vh;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 @media screen and (max-width: 1500px) {
  flex-direction: column;
 }

 //개발용
 background: #000 !important;

 background: rgb(87, 87, 87);
 background: linear-gradient(
  90deg,
  rgba(87, 87, 87, 1) 0%,
  rgba(155, 155, 155, 1) 33%,
  rgba(255, 255, 255, 1) 100%
 );

 h2 {
  margin: 0;
  left: 5%;
<<<<<<< HEAD
=======
  //   top: -10%;
>>>>>>> ef748e9 (info 페이지 기본 구조 완성)
  width: 25%;

  text-align: left;
  font-weight: 700;
  font-size: 65px;
  color: #fff;
  @media screen and (max-width: 1500px) {
   width: 100%;
   text-align: center;
  }
 }
 div[id="info-detail"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  @media screen and (max-width: 1500px) {
   flex-direction: column;
   align-items: center;
  }
  section {
   position: relative;
   border: 5px solid #eee;
   margin: 0 3%;
   padding: 1%;
   width: 400px;
   height: 600px;
   @media screen and (max-width: 1500px) {
    width: 50%;
    height: auto;
   }
   img {
    margin: 5% 0;
    @media screen and (max-width: 1500px) {
     margin: 0;
    }
   }
   p {
    margin: 0;
    padding: 1% 0;
    color: #fff;
    text-align: justify;
   }
  }

  section[id="career"] {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  section[id="stacks"] {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  section[id="advantages"] {
   display: flex;
   flex-direction: column;
   div[class="imgleft"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
   div[class="imgright"] {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
   }
  }
 }
}
