@import './color';

img {
  width: 100px;
}

div[id='info'] {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1025px) {
    flex-direction: column;
  }
  h2 {
    margin: 0.5em 0 1em;
    width: 100%;

    text-align: center;
    font-weight: 700;
    font-size: 65px;
    @media screen and (max-width: 1025px) {
      font-size: 20px;
    }
  }
  div[id='info-inside'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
    width: 100%;
    @media screen and (max-width: 1025px) {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
section[class='info-detail'] {
  width: 25%;
  height: 70vh;
  border-radius: 25px;
  box-shadow: 0px 4px 40px rgba(101, 101, 101, 0.25);

  margin: 0 1em;

  @media screen and (max-width: 1025px) {
    width: 80%;
    height: min-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    @media screen and (max-width: 1025px) {
      width: 30%;
      height: 50%;
      border-radius: 25px 0 0 0;
    }
  }

  article {
    padding: 0 30px;
    @media screen and (max-width: 1025px) {
      width: 70%;
      height: min-content;
      padding: 5px 10px;
    }
  }
  h3 {
    font-size: 30px;
    color: $subtitle;
    line-height: 45px;
    margin: 20px 0;
    @media screen and (max-width: 1025px) {
      font-size: 15px;
      line-height: 25px;
      margin: 10px 0;
    }
  }
  h4,
  p {
    @media screen and (max-width: 1025px) {
      font-size: 12px;
      margin: 0;
    }
  }
}

div[id='career-detail'] {
  p {
    margin: 1% 0;
  }
}

div[class='stacks-stack'] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  p {
    margin: 0;
  }
}

div[class='advantages-adv'] {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4,
  p {
    margin: 0;
    @media screen and (max-width: 1025px) {
      font-size: 12px;
      margin: 0;
    }
  }
  svg {
    @media screen and (max-width: 1025px) {
      display: none;
    }
  }
}
