@import "./color";

div[id="projects"] {
 height: 100vh;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 @media screen and (max-width: 1025px) {
  flex-direction: column;
 }
 * {
  margin: 1% 0;
 }

 h2 {
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 65px;
  @media screen and (max-width: 1025px) {
   width: 100%;
   text-align: center;
   font-size: 30px;
  }
 }
 section[id="projectsleft"] {
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1025px) {
   width: 100%;
  }
  div[id="projects-lists"] {
   width: 100%;
   text-align: center;
   p {
    margin: 0 5%;
   }
   @media screen and (max-width: 1025px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }
  }
 }
 section[id="project-detail"] {
  width: 60%;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media screen and (max-width: 1025px) {
   align-items: center;
  }
  img[class="image_preview"] {
   width: 300px;
   @media screen and (max-width: 1025px) {
    width: 150px;
   }
  }

  div[id="project-detail-title"] {
   width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   @media screen and (max-width: 1025px) {
    flex-direction: column;
    font-size: 12px;
   }
   div[id="LinkImage"] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a {
     margin: 0 1%;
     width: min-content;
     img[class="image_link"] {
      width: 50px;
     }
    }
   }
  }

  div[id="project-detail-brief"] {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   @media screen and (max-width: 1025px) {
    text-align: center;
    font-size: 12px;
   }
   p[id="project-detail-stacks"] {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
  }
  div[id="project-detail-desc"] {
   width: 100%;
   @media screen and (max-width: 1025px) {
    text-align: center;
    font-size: 12px;
   }
  }
 }
}
