@import "./scss/color";
@import "./scss/font";
@import "./scss/reset";

//임시 색상
body {
 background-color: grey;
 main {
  div {
   //개발용
   background: #000 !important;
  }
 }
}

body {
 margin: 0;
 max-width: 100vw;
 overflow-x: hidden;
}
::-webkit-scrollbar {
 display: none;
}

div#react-container {
 display: flex;
 flex-direction: row;
}

main {
 width: 100%;
}
