@import "./scss/color";
@import "./scss/font";
@import "./scss/reset";

//임시 색상
body {
  background-color: grey;
  main {
    div {
      //개발용
      background: $black !important;
    }
  }
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
}
::-webkit-scrollbar {
  display: none;
}

div#react-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

main {
  width: 100%;
}
